* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}
html,body {
    height: 100%;
    width: 100%;

}
/* #box1 {
    height: 9vw;
    width: 9vw;
    background-color: crimson;
}
#box2 {
    height: 9vw;
    width: 9vw;
    background-color: royalblue;
}

#box3 {
    height: 9vw;
    width: 9vw;
    background-color: purple;
} */

#main {
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 60px;
}

#navpart2 {
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}

#main h1{
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    /* background-color: red; */
    position: relative;
    z-index: 9;
    width: 80%;
    margin-left: 10%;
}

#main h1:nth-child(2){
    margin-top: 180px;
}
#main h1:nth-child(3){
    text-align: center;
}
#main h1:nth-child(4){
    text-align: center;
}
img{
    height: 400px;
    position: absolute;
    top:10%;
    left:40%; 
}
#img1{
    rotate:20deg;
}
#img2{
    rotate:10deg;
}

#footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
}
#footer h3 {
    font-weight: 400;
}
#footerpart2{
    padding-right: 45%;
    
}