* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    width: 100%;
    height: 100%;
}

#tabs{
    display: flex;
    gap: 20px;
    margin: 20px;
}

.tab{
    padding: 12px 12px;
    background-color: #e9e9e9;
    border: 2px solid #dadada;
    border-radius: 4px;
    font-weight: 500;
}
h3 {
    display: none;
   margin-top: 20px;
   width: 50%; 
}